@font-face {
    font-family: 'Nunito';
    /* src: url('../src/fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype'),  */
    src: url('./fonts/Nunito/Nunito-VariableFont_wght.ttf') format('truetype'), 
    /* url('../src/fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype'); */
    url('./fonts/Nunito/Nunito-Italic-VariableFont_wght.ttf') format('truetype');
}

* {
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
    font-family: 'Nunito', system-ui, monospace;
}

:root {
    font-size: 10px;
    /* color: whitesmoke;  */
    --blue: rgb(25, 52, 79);
    --gray: #2c2c2c; 
    --red: #913639; 
    --green: #627e75; 
    --lightblue: rgb(155, 185, 197); 
    --lightgreen: #8ec586; 
    --yellow: #e9c429; 
    --white: #FFFFF0; 
    --searchbarHeight: 4rem; 
    --blueblack: rgb(0, 5, 233); 
}

.svg-icon {
            aspect-ratio: 1;
            /* height: 15rem;  */
        }

body {
    /* background-color: var(--white); */
    background: linear-gradient(var(--blue), var(--lightblue));
    /* background-attachment: fixed; */
}

#container {
    /* border: 1px solid red;  */
    /* background-color: var(--green); */
    /* background-color: var(--lightblue); */
    background-color: rgba(155, 185, 197, .3);
    /* opacity: .7;  */
    max-width: 1200px; 
    margin: 0 auto; 
    /* height: 100vh;  */
    padding: 2rem 0;
    position: relative;     
    backdrop-filter: blur(100px); 
    background-blend-mode: screen; /* Change blend mode as desired */
    /* Adjust for visual effect */
}

/* Flip the sneaker SVG along the x axis */
/* img[src*="sneakers"] {
  transform: scaleX(-1);
} */ 

.searchDiv {
    max-width: 55%; 
    min-width: 40%; 
    margin: 0 auto;
    /* background: red;  */
    position: relative; 
    /* padding-right: .5rem;  */
}
    
#searchField {
    background: whitesmoke;
    width: 100%; 
    border-radius: 2rem;
    padding: .75rem 2rem; 
    height: var(--searchbarHeight); 
    border: 3px solid var(--gray); 

    /* background-image: url(https://cdn2.hubspot.net/hubfs/4004166/bioticresearch_website_assets/images/search_icon.png);
    background-repeat: no-repeat;
    background-position: right center; */
}

#search-button {
    position: absolute; 
    /* height: calc(var(--searchbarHeight) - .5rem);  */
    height: 0; 
    border: none; 
    right: 1.5rem; 
    top: 6%; 
    /* top: calc(50% - var(--searchbarHeight));  */
    z-index: 99; 
}

#search-button::before {
    content: '';
    display: block;
    width: 100%;
    height: calc(var(--searchbarHeight) - 5px); 
    width: var(--searchbarHeight); 
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"><title>magnify</title><path d="M9.5,3A6.5,6.5 0 0,1 16,9.5C16,11.11 15.41,12.59 14.44,13.73L14.71,14H15.5L20.5,19L19,20.5L14,15.5V14.71L13.73,14.44C12.59,15.41 11.11,16 9.5,16A6.5,6.5 0 0,1 3,9.5A6.5,6.5 0 0,1 9.5,3M9.5,5C7,5 5,7 5,9.5C5,12 7,14 9.5,14C12,14 14,12 14,9.5C14,7 12,5 9.5,5Z" /></svg>');
    background-size: contain;
    background-repeat: no-repeat;
    cursor: pointer; 
}

.hidden {
    display:none;
}

/* DATA CONTAINER */
#data-container {
     /* min-height: 75vh; */
     padding: 2rem;
}

.city-info {
    padding: 2rem;
    display: grid;
    grid-template-rows: 1fr;
}

.city-name {
    font-size: 3.5rem; 
    font-weight: 600;
    margin: 0 auto; 
    font-weight: 700; 
    text-align: center; 
}

.city-datetime {
    /* display: grid; */
    display: flex;
    /* grid-template-columns: repeat(2, 1fr); */
    gap: 2rem; 
    margin: 0 auto; 
    font-size: 2rem; 
}

.main-info {
    /* border: 1px solid red;  */
    display: grid; 
    grid-template-columns: repeat(2, 1fr); 
    /* aspect-ratio: 1/.5;  */
    /* max-height: 400px;  */
    column-gap: 3rem; 
    max-width: 75rem;
    margin: 0 auto; 
    margin-bottom: 3rem; 
}

.temperature {
    display: grid; 
    grid-template: .25fr 1fr 1fr /  .7fr 1fr; 
    grid-column: 1/2; 

    .conditions {
        text-align: center;
        grid-area: 1/1/2/3; 
        font-size: 4rem;
    }

    .temp-icon {
        grid-area: 2/1/3/2;
        display: flex;
        justify-content: center;
        align-items: center;

        /* img {
            aspect-ratio: 1;
            height: 100%; 
        } */
    }

    .temp-num {
        grid-area: 2/2/3/3; 
        font-size: 7rem; 
        display: flex; 
        justify-content: center; 
        align-items: center;
        font-weight: 600; 
    }

    .temp-descriptions {
        text-align: center; 
        grid-area: 3/1/4/3; 
        /* display: flex;  */
        justify-content: center;
        /* font-size: 300%;  */
        font-size: 3rem; 
    }
}

.clothing {
    display: grid; 
    grid-template: 1fr 1fr /  1fr 1fr; 
    row-gap: 2rem; 
    grid-column: 2/3; 
    justify-items: center;
    align-items: center; 
    margin: 0 auto; 

    .clothing-item {
        display: flex; 
        justify-content: center;
        align-items: center;
        width: 100%; 

    .svg-icon {
        aspect-ratio: 1; 
        width: 90%;
    }
    }

    .umbrella {
        text-align: center;
        justify-self: center;
             font-size: 2rem;
    }

}

.secondary-info {
        /* border: 1px solid red;  */
        display: grid; 
        grid-template-columns: repeat(4, 1fr); 
        font-size: 3rem; 
        max-width: 100%; 
        row-gap: 1rem;

        .secondary {
            /* display: grid;  */
            display: flex;
            flex-direction: column; 
            /* justify-content: center; */
            align-items: center;
            max-width: 100%; 
            /* border: 1px solid var(--blue);  */
            /* aspect-ratio: 1; */
            /* grid-template-rows: 1fr 3fr; */
            
            p {
                text-align: center; 
                /* border: 1px solid var(--yellow);  */
            }

            .secondary-title {
                margin: 0 auto; 
                display: flex;
                justify-content: center; 
                font-weight: 700;
                text-decoration: underline; 
            }
        }
}

.svg-icon-small {
    aspect-ratio: 1;
    height: 4rem;
}

.forecast {
    clear: both; 
    display: flex; 
    flex-direction: column;
    max-width: 70rem;
    margin: 0 auto; 
    margin-top: 1rem; 
    /* border: 1px solid var(--yellow);  */
    font-size: 2.25rem;

    .forecast-title {
        display: flex; 
        justify-content: center;
        align-items: center;
        margin-top: 2rem; 
        margin-bottom: 2rem; 
        font-size: 3rem; 
        font-weight: 700;
    }

    .day {
        display: flex; 
        align-items: center;
        margin-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-bottom: .5rem solid var(--white);
        border-radius: .5rem;

        .day-date {
            flex: 2;
        }

        .day-icon {
            display: flex; 
            flex: 1; 
            justify-content: center;
            img {
                height: 7rem; 
            }
        }
        
        .day-high {
            flex: .75; 
            color: var(--red); 
        }
        
        .day-low {
            flex: .75; 
            color: var(--blue); 
        }
        .day-wind {
            display: flex;
            flex: 1.5;
            justify-content: end; 
            align-items: center;
            gap: 1rem;
        }
    }
}

.error {
    color: var(--red); 
}

.fahrenheit-celsius-buttons {
    position: absolute; 
    top: 6rem; 
    right: 2rem; 
}

[class^='settings-'] {
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    margin-left: 8px;
    background-color: var(--blue);
    transition: all 0.3s;
    cursor: pointer;
    font-size: 14px;
    padding: 4px 16px;
    height: 40px;
    border-radius: 20px;
    border: 2px solid var(--blue);
    color: var(--white);
}

[class^='settings-']:hover, [class^='settings-'].active {
    border: 2px solid var(--white);
}

.winddir img {
    vertical-align: bottom;
}

@media screen and (max-width: 480px) {
    .searchDiv {
        max-width: 75%;
    }

    .fahrenheit-celsius-buttons {
        display: flex; 
        justify-content: center;
        position: static; 
        top: unset; 
        right: unset; 
    }

    .city-info {
        /* display: block;  */
        text-align: center; 
    }

    .main-info {
        display: block; 

        .svg-icon {
            height: 10rem; 
        }
    }

    .temperature {
        grid-template: .25fr 1fr .55fr / .7fr 1fr;
        justify-content: center;

     .temp-descriptions {
        font-size: 2.5rem;
     }
    }

    .clothing {
        width: 75%; 
        margin: 0 auto;
        justify-self: center;
        justify-content: center;
        row-gap: 0; 

        .clothing-item {
            .svg-icon {
                width: 90%; 
            }
        }

        .umbrella {
             font-size: 2rem;
        }
    }

    .secondary-info {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 2rem;
}

.secondary {
    font-size: 2rem;
    
    .svg-icon {
        width: 7rem; 
    }
}

.forecast {
    & .day {
        & .day-icon {
            .svg-icon-small {
                width: 3rem;
            }
        }
    }
}
.forecast {
    .day {
        font-size: 2rem; 
    }
}

.winddir img {
    height: 3rem; 
}


}

@media screen and (min-width: 481px) and (max-width: 768px) {
#temp-icon {
    width: 15rem; 
    justify-content: right;
}
/*  */
    /*  */
    .searchDiv {
        max-width: 75%;

    }

    .fahrenheit-celsius-buttons {
        display: flex; 
        justify-content: center;
        position: static; 
        top: unset; 
        right: unset; 
    }

    .city-info {
        /* display: block;  */
        text-align: center; 
    }

    .main-info {
        display: block; 

        /* .svg-icon {
            height: 10rem; 
        } */
    }

    .temperature {
        grid-template: .25fr 1fr .55fr / .7fr 1fr;
        justify-content: center;

     .temp-descriptions {
        font-size: 2.5rem;
     }
    }

    .clothing {
        width: 75%; 
        justify-self: center;
        justify-content: center;
        row-gap: 0; 

        .clothing-item {
            .svg-icon {
                width: 90%; 
            }
        }

        .umbrella {
             font-size: 2rem;
        }
    }

    .secondary-info {
    /* border: 1px solid green; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    font-size: 2rem;
}

.secondary {
    font-size: 2rem;
    
    .svg-icon {
        height: 7rem; 
    }
}

.forecast {
    & .day {
        & .day-icon {
            .svg-icon-small {
                width: 3rem;
            }
        }
    }
}
.forecast {
    .day {
        font-size: 2rem; 
    }
}

.winddir img {
    height: 3rem; 
}

.temp-num {
    justify-content: left;
}




}